- title 'Доставка воды на дом и в офис в Санкт-Петербурге и Ленинградской области'
- meta_description 'Адреса доставок. Карта'
- meta_keywords 'пункты доставок, доставка, адрес, карты доставки'
= javascript_include_tag 'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'
= javascript_include_tag 'delivery'
= include_gon
.delivery-body
  .delivery-body-title
    Доставка
  #delivery-body-map
  .delivery-body-text
    .delivery-body-text-delivery
      .delivery-body-text-delivery-spb
        %span Доставка в Санкт-Петербурге
        %br
        С понедельника по пятницу с 8 до 22
        %br
        В субботу — с 8 до 16 часов
        %br
        Воскресенье — выходной
      .delivery-body-text-delivery-district
        %span Доставка в пригороды
        %br
        Выберите свой город, чтобы узнать по каким дня происходит доставка

    .delivery-body-text-delivery-info
      .delivery-body-text-delivery-info-text
        %big Вы можете оформить заказ по телефону
        %br
        %span (812) 335-40-80
        %br
        %body
          В будние дни с 8 до 20
          %br В субботу с 9 до 15 часов
          Воскресенье — выходной
    = form_tag delivery_path, remote: true, method: :get do
      = text_field_tag :name, nil, class: 'delivery-body-text-search', placeholder: 'Введите название'
    .delivery-body-text-list
      = render partial: 'list_district', locals: {district: @district}


#dialog
  .dialog-text
  .close-modal
    = image_tag 'close_modal.png'
  #tail1
  #tail2
