- title 'профилактика, санитарная обработка кулеров, водного оборудования с выездом мастера'
- meta_description 'Заказ обслуживания'
- meta_keywords 'сервис, облуживание, заказать'
.service
  .service-title
    = @service_page.try(:main_header)
  .service-body_imgs
    .service-body_imgs-body
      @service_page.try(:main_text)
    .service-body_imgs-img
      = image_tag @service_page.try(:image_url, :for_page)
      .service-body_img-button
        = link_to 'Заказать обработку кулера', '#'
  .service-body
    .service-body-title
      = @service_page.try(:additional_header)
    .service-body-text
      = @service_page.try(:additional_text)
    -#.service-body-img
    -#  = image_tag 'gears.png'
    -#.service-body-text


.modal_area
  .modal__back.js_modal_back
  .modal__view
    = render 'layouts/service_modal'
