.aqua_volume_block
  .aqua__image
    = image_tag volume.image_url(:small)

  .aqua__info
    .aqua__info_title
      = volume.aqua.name
      = volume.title_value
    .aqua__info_text
      =volume.aqua.short_description
    .aqua__info_order
      - price = volume.prices.first
      = link_to "Заказ", "#", class: "red_button js_order_button", |
        data: { aqua: "#{volume.aqua_id}-#{volume.aqua.name}", |
                amount: "#{price.try(:start_count)}", |
                price: price.try(:value), |
                volume: "#{volume.id}-#{volume.title_value}", |
                deposit: volume.deposit }

  .aqua__prices
    %table
      %tr
        %th
          Количество
        %th
          Цена
      - volume.prices.sort_by(&:start_count).each do |price|
        %tr
          %td
            = price_amount(price)
          %td
            = price_val(price).html_safe

  .clearfix
