.service
  .service-title
    = @page.try(:main_header)
  .service-body_imgs
    .service-body_imgs-body
      = @page.try(:main_text).try(:html_safe)
    .service-body_imgs-img
      = image_tag @page.try(:image_url, :for_page)
      .service-body_img-button
        = link_to 'Заказать обработку кулера', '#'
  .service-body
    .service-body-title
      = @page.try(:additional_header)
    .service-body-text
      = @page.try(:additional_text).try(:html_safe)
